<aside class="card p-4 md:p-6" aria-label="Account navigatie">
  <nav class="space-y-1">
  <a class="block rounded-md px-3 py-2 hover:bg-light/40" href="/account-dashboard.html">Dashboard</a>
  <a class="block rounded-md px-3 py-2 hover:bg-light/40" href="/account-personal.html">Persoonlijke gegevens</a>
  <a class="block rounded-md px-3 py-2 hover:bg-light/40" href="/account-addresses.html">Adresboek</a>
  <a class="block rounded-md px-3 py-2 hover:bg-light/40" href="/account-orders.html">Mijn bestellingen</a>
  <a class="block rounded-md px-3 py-2 hover:bg-light/40" href="/account-wishlist.html">Verlanglijst</a>
  <a class="block rounded-md px-3 py-2 hover:bg-light/40" href="/account-reviews.html">Mijn reviews</a>
  <a class="block rounded-md px-3 py-2 hover:bg-light/40" href="/account-invoices.html">Facturen & creditnota’s</a>
  <a class="block rounded-md px-3 py-2 hover:bg-light/40" href="/account-newsletter.html">Nieuwsbriefinstellingen</a>
    <div class="h-px bg-gray-200 my-2"></div>
  <a class="block rounded-md px-3 py-2 hover:bg-light/40" href="/account-requisition-lists.html">Bestellijsten</a>
  <a class="block rounded-md px-3 py-2 hover:bg-light/40" href="/account-company.html">Zakelijke gegevens</a>
    <div class="h-px bg-gray-200 my-2"></div>
  <a class="block rounded-md px-3 py-2 text-brand hover:bg-light/40" href="#" data-action="logout">Uitloggen</a>
  </nav>
</aside>


